{% extends "common/base.html" %}
{% block content %}
    {% if errors %}
        <ul>
            {% for field, error in errors.items %}<li>{{ field }}: {{ error.0 }}</li>{% endfor %}
        </ul>
    {% endif %}
    <div class="input-group center">
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="text"
                       name="email"
                       class="form-control"
                       placeholder="your@email.com"
                       required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="password"
                       name="password"
                       class="form-control"
                       placeholder=""
                       required>
            </div>
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}
