{% extends "common/base.html" %}
{% block content %}
    {% if errors %}
        <ul>
            {% for field, error in errors.items %}<li>{{ field }}: {{ error.0 }}</li>{% endfor %}
        </ul>
    {% endif %}
    {% if success %}
        <h1>Password changed successfully</h1>
    {% endif %}
    <div class="input-group justify-content-center">
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">New password</span>
                <input type="password"
                       name="password"
                       class="form-control"
                       placeholder=""
                       required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Repeat password</span>
                <input type="password"
                       name="password2"
                       class="form-control"
                       placeholder=""
                       required>
            </div>
            <input type="submit" value="Login" class="btn btn-dark">
        </form>
    </div>
{% endblock content %}