<tbody hx-target="closest tr" hx-swap="outerHTML swap:1s">
    {% for task in tasks %}
        <tr>
            <td>{{ task.get_status_display }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.created_at }}</td>
            <td>
                <a href="{% url 'todo:task_update' task.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
            <td>
                <a href="{% url 'todo:task_delete' task.id %}"><i class="fa-solid fa-trash text-danger"></i></a>
            </td>
        </tr>
    {% endfor %}
</tbody>
