{% extends "main_app/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Cars</h1>
            </div>
            <div class="col text-end">
                <a href="{% url 'main_app:car_create' %}" class="btn btn-primary">Add new car</a>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Manufacturer</th>
                <th></th>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'main_app:car_update' pk=object.id %}" class="button">{{ object.name }}</a>
                        </td>
                        <td>{{ object.manufacturer }}</td>
                        <td class="text-end"><a href="{% url 'main_app:car_delete' pk=object.id %}"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
