{% extends "main_app/base.html" %}
{% block content %}
    <div class="input-group">
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Car name</span>
                <input type="text"
                       name="name"
                       class="form-control"
                       placeholder="Car name"
                       value="{{ form.initial.name }}"
                       required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Manufacturer</span>
                <select name="manufacturer" class="form-select" required>
                    {% for opt in form.fields.manufacturer.choices %}
                        <option value="{{ opt.0 }}"
                                {% if opt.0 == form.initial.manufacturer %}selected{% endif %}>{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}
