{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfolio prject" />
        <link rel="stylesheet" href="{% static 'common/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'common/darkmode.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css">
        <title>
            {% block title %}
                VitorXYZ
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include "common/navbar.html" %}
        <main class="flex-shrink-0">
            <div class="container mt-3 center">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        {% block footer %}
            {% include "common/footer.html" %}
        {% endblock footer %}
        <script src="{% static 'common/bootstrap.js' %}"></script>
        <script src="{% static 'common/htmx.min.js' %}"></script>
        <script src="{% static 'common/darkmode.js' %}"></script>

    </body>
</html>
