<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">VitorXYZ</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a {% if request.resolver_match.app_name == "common" %}class="nav-link active"{% else %}class="nav-link"{% endif %}
                       aria-current="page"
                       href="{% url 'common:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a {% if request.resolver_match.app_name == "todo" %}class="nav-link active"{% else %}class="nav-link"{% endif %}
                       href="{% url 'todo:home' %}">Todo</a>
                </li>
                <li class="nav-item">
                    <a {% if request.resolver_match.app_name == "blog" %}class="nav-link active"{% else %}class="nav-link"{% endif %}
                       href="{% url 'blog:post_list' %}">Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">{{ user.first_name }}</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'authentication:edit_user' %}">Edit profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'authentication:reset_password' %}">Reset password</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'authentication:generate_token' %}">API token</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'authentication:delete_account' %}">Remove account</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
