{% extends "common/base.html" %}
{% block content %}
    {% if errors %}
        {% for error in errors %}<p>{{ error }}</p>{% endfor %}
    {% endif %}
    <div class="modal-body">
        <form method="post"
              enctype="multipart/form-data"
              action="{% url 'blog:topic_create' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input type="text" name="name" class="form-control" required />
            </div>
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}
