{% extends "common/base.html" %}
{% block title %}
    Topics
{% endblock title %}
{% block content %}
    <h1>Topics</h1>
    <div class="container">
        <input class="form-control"
               type="search"
               name="search"
               placeholder="Begin typing To search topics..."
               hx-get="{% url 'blog:topic_list' %}"
               hx-trigger="input changed delay:100ms, keyup[key=='Enter'], load"
               hx-target="#topic-result"
               hx-indicator=".htmx-indicator">
    </div>
    <div class="container mt-3">{% include "blog/components/topic_table.html" %}</div>
{% endblock content %}
