<div id="comment-list"
     class="container mt-5"
     hx-target="this"
     hx-swap="outerHTML">
    <div class="container mt-5">
        <form hx-post="{% url 'blog:add_comment' %}"
              hx-target="#comment-list"
              hx-swap="outerHTML">
            <h2>Comments</h2>
            {% csrf_token %}
            <input type="text" name="blog_post" value="{{ post.pk }}"hidden>
            <textarea name="content"
                          class="form-control"
                          rows="3""></textarea>
            <input type="submit" value="Comment" class="btn btn-primary" />
        </form>
    </div>
    <div class="container mt-5">
        {% for comment in post.comment_set.all %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img {% if comment.author.profile_image %} src="{{ comment.author.profile_image.url }}" {% else %} src="../../static/authentication/img/blank_profile.jpg" {% endif %}
                             alt="profile image"
                             height="128"
                             width="128"
                             class="card-img-top">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title start-0">{{ comment.author.first_name }} {{ comment.author.last_name }}</h5>
                            <p class="card-text">{{ comment.content }}</p>
                            <p class="card-text">
                                <small class="text-body-secondary">{{ comment.created_at }}</small>
                                {% if comment.author == user or perms.blog.delete_comment %}
                                    <a href=""
                                       hx-get="{% url 'blog:remove_comment' comment.pk %}"
                                       hx-trigger="click"
                                       hx-target="#comment-list"
                                       hx-swap="outerHTML"><i class="fa-solid fa-trash text-danger"></i></a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
