<div class="container" id="blog-result">
    <div class="container text-center">
        <div class="row">
            {% for post in page_obj %}
                <div class="col">
                    <div class="card post-card">
                        <img src="{{ post.image.url }}"
                             alt="{{ post.title }} image"
                             class="card-img-top"
                             height="200"
                             width="200">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
                            </h5>
                            <p class="card-text">{{ post.content|slice:":20" }}...</p>
                            {% if perms.blog.change_post %}
                                <a href="{% url 'blog:post_update' post.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                            {% endif %}
                            {% if perms.blog.delete_post %}
                                <a href="{% url 'blog:post_delete' post.pk %}"><i class="fa-solid fa-trash text-danger"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mt-3">
        {% if perms.blog.add_post %}
            <a href="{% url 'blog:post_create' %}">
                <button class="btn btn-primary">Add post</button>
            </a>
        {% endif %}
    </div>
    <div class="container mt-3">{% include "blog/components/post_pagination.html" %}</div>
</div>
