<div class="container" id="topic-result">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Topics</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for topic in page_obj %}
                <tr>
                    <td>{{ topic.name }}</td>
                    <td>
                        {% if perms.blog.change_topic %}
                            <a href="{% url 'blog:topic_update' topic.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if perms.blog.delete_topic %}
                            <a href="{% url 'blog:topic_delete' topic.id %}"><i class="fa-solid fa-trash text-danger"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                {% if perms.blog.add_topic %}
                    <td>
                        <a href="{% url 'blog:topic_create' %}">
                            <button class="btn btn-primary">Add topic</button>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% include "blog/components/topic_pagination.html" %}
</div>
