{% extends "common/base.html" %}
{% block title %}
    Todo
{% endblock title %}
{% block content %}
    <h1>{{ user.first_name }} task list</h1>
    <button hx-get="{% url 'todo:todo_create' %}"
            hx-target="#create-modal"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#create-modal"
            class="btn btn-primary">Add task</button>
    <div class="container mt-3">
        {% if tasks %}
            <ul>
                {% for task in tasks %}<li>{{ task.title }}</li>{% endfor %}
            </ul>
        {% else %}
            <p>You are free, enjoy!</p>
        {% endif %}
    </div>
    <div id="create-modal"
         class="modal modal-blur fade"
         aria-hidden="false"
         tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock content %}
